# Application
APP_URL=http://localhost:8000
APP_ENV=development

# Email Configuration (SMTP)
# Pour le développement, vous pouvez utiliser MailHog sur localhost:1025
SMTP_HOST=localhost
SMTP_PORT=1025
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM_EMAIL=noreply@budgie.local
SMTP_FROM_NAME=Budgie

# Bases de données
DATABASE_PATH=data/budgie.db

# Stripe
STRIPE_SECRET_KEY=
STRIPE_PREMIUM_PRICE_ID=
